<h1>Find and Replace</h1>
<form action="/result">
  <div class="form-group">
     <label for="string">Enter sentence!
</label>
     <input id="string" name="string" class="form-control" type="text">

     <label for="find">Enter a word to find!
</label>
     <input id="find" name="find" class="form-control" type="text">

     <label for="replace">Enter a word to replace!
</label>
     <input id="replace" name="replace" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Get New String</button>
</form>
